<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    colors="true"
    failOnWarning="false"
>
    <testsuites>
        <testsuite name="Imoli EFL Leasing SDK Test Suite">
            <directory>tests</directory>
            <exclude>tests/Integration</exclude>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>src</directory>
        </include>
        <exclude>
            <file>src/Http/NativeHttpClient.php</file>
            <file>src/Exception/EflLeasingException.php</file>
            <file>src/Exception/HttpException.php</file>
        </exclude>
    </source>

    <coverage>
        <report>
            <text outputFile="php://stdout" showUncoveredFiles="true" showOnlySummary="false"/>
            <html outputDirectory="build/coverage"/>
        </report>
    </coverage>
</phpunit>

